<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
    <select id="selectAll" resultType="hashMap">
        SELECT b.`id`, b.`title`, b.`content`, u.`nickname`, b.`entry_date`, b.`modify_date`
        FROM `board` AS b
        INNER JOIN `user` AS u
        ON b.`writer_id` = u.`id`
    </select>
</mapper>